<h1>Welcome to Lord of The Series</h1>
<p>One Place to rule them all, One Place to find them... One Place to ensure you never miss an episode of your favorite TV Series.</p>

<form class="searchSeries" action="/series" method="POST">
    <input type="text" id="seriesTitle" class="form-control" placeholder="Series title" required autofocus>
    
    <button class="btn btn-lg btn-primary" id="btnSearchSeries" type="submit">Search</button>
</form>
