<div id="login-page" class="main-area">
    <fieldset>
        <legend>Login page</legend>
        <form class="form-horizontal app-control" data-event="login" role="form">
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">E-mail</label>
                <div class="col-lg-5">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@address.com" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-5">
                    <input type="password" class="form-control" id="password" name="password" placeholder="*******" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="submit" class="btn btn-default app-control" data-event="show-signup">Signup</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<div id="signup-page" class="main-area">
    <fieldset>
        <legend>Signup page</legend>
        <form class="form-horizontal app-control" data-event="signup" role="form">
            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">E-mail</label>
                <div class="col-lg-5">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@address.com" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-5">
                    <input type="password" class="form-control" id="password" name="password" placeholder="*******" required>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-lg-2 control-label">Confirm password</label>
                <div class="col-lg-5">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="*******" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default app-control" data-event="show-login">Cancel</button>
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<div id="home-page" class="main-area">
    <fieldset>
        <legend>Lord of The Series</legend>
        <p>One Place to rule them all, One Place to find them... One Place to ensure you never miss an episode of your favorite
            TV Series.</p>
        <form class="form-horizontal app-control" data-event="login" role="form">
            <div class="alert alert-danger" id="error" role="alert" style="display:none;"></div>
            <div class="form-group">
                <label for="seriesTitle" class="col-lg-2 control-label">Series title</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="seriesTitle" name="seriesTitle" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary app-control" data-event="search-series">Search</button>
                </div>
            </div>
        </form>
        <div id="search-results">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Overview</th>
                </tr>
            </table>
        </div>
    </fieldset>
</div>

<div id="series-detail" class="main-area">
    <fieldset>
        <legend class="seriesName"></legend>
        <form class="form-horizontal app-control" role="form">
            <div class="form-group">
                <div class="alert col-lg-offset-1 col-lg-8" id="series-detail-message" role="alert" style="display:none;"></div>
            </div>
            <div class="form-group">
                <div class="col-lg-1">
                    <span class="glyphicon glyphicon-star pull-right added-series" aria-hidden="true"></span>
                </div>
                <div class="col-lg-9">
                    <img class="banner">
                </div>
            </div>
            <div class="form-group">
                <label for="overview" class="col-lg-2 control-label">Overview</label>
                <div class="col-lg-7">
                    <span class="overview"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="genre" class="col-lg-2 control-label">Genre</label>
                <div class="col-lg-7">
                    <span class="genre"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-lg-2 control-label">Status</label>
                <div class="col-lg-7">
                    <span class="status"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-lg-2 control-label">Ratings</label>
                <div class="col-lg-7">
                    <span class="siteRating"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-lg-2 control-label">Seasons</label>
                <div class="col-lg-7">
                    <div>
                        <ul class="nav nav-tabs" id="seasons-list-header">
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content" id="seasons-list-episodes">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="button" class="btn btn-default app-control" data-event="series-go-back">Go back</button>
                    <button type="button" id="add-series" class="btn btn-primary app-control" data-event="add-series">Add to your collection</button>
                    <button type="button" id="remove-series" class="btn btn-warning app-control" data-event="remove-series">Remove from your collection</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<div id="watchlist-page" class="main-area">
    <fieldset>
        <legend>Your Watch List</legend>
        <div id="watchlist-result">
            <!---->
            <div class="row">
                <div class="col-lg-4">
                    <a class="thumbnail hvr-float-shadow well well-sm app-control" data-event="open-download-list" data-param="1">
                        <img src="http://thetvdb.com/banners/graphical/121361-g19.jpg">
                    </a>
                </div>
                <div class="col-lg-8">
                    <div class="list-group download-list thumbnail well well-sm download-item-1">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a class="app-control" data-event="download-link" data-param="121361-S06E10-1080p">
                                        <span class="glyphicon glyphicon-download pull-right"></span>S06E10 1080p
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a class="app-control" data-event="download-link" data-param="121361-S06E10-720p">
                                        <span class="glyphicon glyphicon-download pull-right"></span>S06E10 720p
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a data-event="download-link" data-param="121361-S06E10-1080p">
                                        <span class="glyphicon glyphicon-download pull-right"></span>S06E10 1080p
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a data-event="download-link" data-param="121361-S06E10-720p">
                                        <span class="glyphicon glyphicon-download pull-right"></span>S06E10 720p
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a data-event="download-link" data-param="121361-S06E10-1080p">
                                        <span class="glyphicon glyphicon-download pull-right"></span>S06E10 1080p
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a data-event="download-link" data-param="121361-S06E10-720p">
                                        <span class="glyphicon glyphicon-download pull-right"></span>S06E10 720p
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </fieldset>
</div>