body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.show-pointer {
    cursor: pointer;
}

.main-area {
    display: none;
}

.error-label {
    margin-right: 15px;
    position: absolute;
    right: 0;
}