body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.show-pointer {
    cursor: pointer;
}

.main-area {
    display: none;
}

.error-label {
    margin-right: 15px;
    position: absolute;
    right: 0;
}

#language-selector {
    float: right;
    padding-top: 13px;
    display: none;
}

#language-selector a,
a:visited,
a:active {
    color: #9d9d9d;
}

#language-selector a:hover {
    color: #eee;
    text-decoration: underline;
}

#search-results {
    display: none;
}

.table-row:hover {
    cursor: pointer;
}

#remove-series {
    display: none;
}

.added-series {
    display: none;
    font-size: 1.8em;
    margin-top: 60px;
}