body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.searchSeries {
    width: 400px;
}

.searchSeries > button[type="submit"] {
    margin-top: 10px;
}

#searchResults {
    margin-top: 10px;
}

#searchResults .table tr td {
    cursor: pointer;
}